.messageItem {
  padding: 24px 0;
  .messageItemSection {
    display: inline-block;
    width: fit-content;
    max-width: 100%;
  }
  .messageItemSectionLeft {
    width: fit-content;
    max-width: 100%;
  }
  .messageItemSectionRight {
    width: fit-content;
    max-width: 100%;
  }
  .messageItemContent {
    display: flex;
    gap: 20px;
    width: fit-content;
    max-width: 100%;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: hidden;
  }
  .messageItemContentReverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
    overflow: hidden;
  }

  .messageTextBase() {
    padding: 6px 10px;
    border-radius: 8px;
    & > p {
      margin: 0;
    }
  }
  .messageText {
    .chunkText();
    .messageTextBase();
    // background-color: #e6f4ff;
    word-break: break-word;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
  .messageTextDark {
    .chunkText();
    .messageTextBase();
    word-break: break-word;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    :global(section.think) {
      color: rgb(166, 166, 166);
      border-left-color: rgb(78, 78, 86);
    }
  }

  .messageUserText {
    .chunkText();
    .messageTextBase();
    background-color: rgba(255, 255, 255, 0.3);
    word-break: break-word;
    text-align: justify;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
  }
  .messageEmpty {
    width: 300px;
  }

  .thumbnailImg {
    max-width: 20px;
  }

  .toolCallsContainer {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  }
}

.messageItemLeft {
  text-align: left;
  .messageItemContent {
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
  }
}

.messageItemRight {
  text-align: right;
  .messageItemContent {
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
  }
}
